<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Project 5 (Optional) Backbone</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="http://fonts.googleapis.com/css?family=PT+Sans:400,700" rel='stylesheet' />
    <link href="assets/css/style.css" rel="stylesheet" />
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" -->
  </head>

  <body>

    <!-- START CONTAINER-->

    <div class="container">

      <!-- HEADER -->

      <header class="row header-row">
        <div class="col-xs-12">
          <h3>Calorie Tracker</h3>
        </div>
      </header>

      <!-- MAIN -->

      <main class="row">

        <div class="col-xs-6">
          <h4>Select Foods</h4>
          <input id="searchbar" placeholder="Enter food" autofocus>
          <button id="showMoreResults">Show More Matches</button>
          <ul id="searchresultslist"></ul>
        </div>

        <div class="col-xs-6">
          <h4>Eaten Today</h4>
          <table class="table table-striped table-bordered table-condensed table-hover">
            <tbody id="foodtable">
            </tbody>
          </table>
          <button id="saveDay">Save This Day</button>
        </div>

      </main>  <!-- END MAIN -->

      <section class="row">
        <div class="col-xs-12">
          <h4>Saved Days</h4>
        </div>
      </section>

      <section class="row saved-days-row">
      </section>

    </div> <!-- END CONTAINER -->

   <script type="text/template" id="search-result-template">
     <div><%= name %></div>
   </script>
   <script type="text/template" id="food-template">
     <td><%= name %></td>
     <td class="calories-data"><%= calories %></td>
   </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="assets/js/lib/underscore-min.js"></script>
    <script src="assets/js/lib/backbone-min.js"></script>
    <script src="assets/js/lib/bootstrap.min.js"></script>
    <!-- script src="https://cdn.firebase.com/js/client/2.3.2/firebase.js"></script -->
    <!-- script src="https://cdn.firebase.com/libs/backbonefire/0.5.1/backbonefire.min.js"></script -->
    <script src="assets/js/lib/backbone.localStorage.js"></script>
    <script src="assets/js/models/food.js"></script>
    <script src="assets/js/models/searchresult.js"></script>
    <script src="assets/js/collections/foods.js"></script>
    <script src="assets/js/collections/searchresults.js"></script>
    <script src="assets/js/views/foods.js"></script>
    <script src="assets/js/views/searchresults.js"></script>
    <script src="assets/js/views/saveday.js"></script>
    <script src="assets/js/views/app.js"></script>
    <script src="assets/js/app.js"></script>

  </body>
</html>
