<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Project 5 (Optional) -- Backbone</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="http://fonts.googleapis.com/css?family=PT+Sans:400,700" rel='stylesheet'>
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>

    <!-- START CONTAINER-->

    <div class="container">

      <header class="row header-row">
        <div class="col-xs-12">
          <h3>Calorie Tracker</h3>
        </div>
      </header>

      <!-- START MAIN -->

      <main class="row">

        <!-- SELECT FOODS / RECENTLY SELECTED FOODS -->

        <div class="col-xs-6">
          <div class="row selection-box">
            <div class="col-xs-12">
              <h4>Select Foods</h4>
              <input id="searchbar" placeholder="Enter food" autofocus>
              <button id="showMoreResults">Show More</button>
              <div id="loadingResults">Loading Results.....</div>
                <ul id="searchresultslist"></ul>
              </div>
            </div>

          <!-- RECENT RESULTS -->

          <div class="row recent-results-box">
            <div class="col-xs-12">
              <h4>Recently Selected Foods</h4>
              <ul id="recentresultslist"></ul>
            </div>
          </div>
        </div>

        <!-- EATEN TODAY -->

        <div class="col-xs-6 eaten-box">
          <h4>Foods Eaten Today</h4>
          <table class="table table-bordered table-condensed table-hover">
            <tbody id="foodtable">
            </tbody>
          </table>
          <button id="saveDay">Save This Day</button>
          <button id="clearFoods">Clear All Foods</button>
        </div>

      </main>  <!-- END MAIN -->

      <!-- SAVED DAYS -->

      <div class="row">
	<div class="col-xs-12">
	  <h4>Saved Days</h4>
	</div>
      </div>

      <div class="row saved-days-row"
        <div class="col-xs-12">
        </div>
      </div>

    </div> <!-- END CONTAINER -->

    <!-- template used in js/views/searchresults.js, app.SearchResultView -->
    <script type="text/template" id="search-result-template">
      <div class="search-result-data"><%= name %></div>
    </script>

    <!-- template used in js/views/recentresults.js, app.RecentResultView -->
    <script type="text/template" id="recent-result-template">
      <div class="recent-result-data"><%= name %></div>
    </script>

    <!-- template used in js/views/foods.js, app.FoodView -->
    <script type="text/template" id="food-template">
      <td><%= name %></td>
      <td class="calories-data"><%= calories %></td>
    </script>

    <!-- template used in js/views/saveday.js, app.FoodSavedDayView -->
    <script type="text/template" id="saved-days-template">
      <td><%= name %></td>
      <td class="calories-data"><%= calories %></td>
    </script>

    <!-- Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="assets/js/lib/underscore-min.js"></script>
    <script src="assets/js/lib/backbone-min.js"></script>
    <script src="assets/js/lib/bootstrap.min.js"></script>
    <script src="assets/js/lib/backbone.localStorage.js"></script>

    <!-- Local JavaScript Files -->
    <script src="assets/js/models/food.js"></script>
    <script src="assets/js/models/searchresult.js"></script>
    <script src="assets/js/collections/foods.js"></script>
    <script src="assets/js/collections/searchresults.js"></script>
    <script src="assets/js/collections/recentresults.js"></script>
    <script src="assets/js/views/foods.js"></script>
    <script src="assets/js/views/searchresults.js"></script>
    <script src="assets/js/views/recentresults.js"></script>
    <script src="assets/js/views/saveday.js"></script>
    <script src="assets/js/views/app.js"></script>
    <script src="assets/js/app.js"></script>

  </body>
</html>
